# Copia este archivo como ".env" y rellena los valores
# cp .env.example .env   (Linux/Mac)
# copy .env.example .env (Windows)

SECRET_KEY=django-secure-pon-aqui-una-clave-secreta-larga-y-aleatoria
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Obtén tu API key en: https://aistudio.google.com/
GEMINI_API_KEY=pon-aqui-tu-api-key-de-gemini

TIME_ZONE=America/Bogota
